<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abrigo de Animais</title>
</head>
<body>
    <h1>Bem-vindo ao Abrigo de Animais!</h1>
    <div class="animal-gallery">
        {% for animal in animais %}
            <div class="animal">
                <img src="{{ animal.imagem.url }}" alt="{{ animal.nome }}">
                <p>{{ animal.nome }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>

