<head>
    <link rel="stylesheet" href="../static/css/nav.css">
</head>
<header>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <img class="img_nav" src="https://cdn-icons-png.flaticon.com/512/1416/1416823.png" alt="">
                Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listar">
                <img class="img_nav" src="https://cdn-icons-png.flaticon.com/512/7699/7699744.png" alt="">
                Animais</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/adocao">
                <img class="img_nav" src="https://cdn-icons-png.flaticon.com/512/1312/1312640.png" alt="">
                Adoção
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">
                <img class="img_nav" src="https://cdn-icons-png.flaticon.com/512/7542/7542190.png" alt="">
                Administrativo
            </a>
        </li>
        <form class="d-flex nav-item ms-auto">
            <input class="form-control me-2" type="search" placeholder="Escreva aqui" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Procurar</button>
          </form>
    </ul>
</header>