<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Status de Adoção</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Consultar Status de Adoção</h1>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Animal</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data da Adoção</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitacao in status %}
                    <tr>
                        <td>{{ solicitacao.animal }}</td>
                        <td>{{ solicitacao.status }}</td>
                        <td>{{ solicitacao.data_adocao }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma solicitação de adoção encontrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
