<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais Disponíveis para Adoção</title>
</head>
<body>
    <h1>Animais Disponíveis para Adoção</h1>
    
    <ul>
        {% for animal in animais %}
            <li>
                {{ animal.nome }} - {{ animal.especie }}
                {% if animal.solicitacao_adocao_set.all %}
                    (<a href="{% url 'consultar_status' %}">Verificar Status de Solicitação</a>)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>